/*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  
  overflow: hidden; 
}


body{
  font-family: monospace, Arial, Helvetica, sans-serif;
  width: 100%;
  background: pink;
}

a.active,a:hover{
  text-decoration: none;
  color: #faebdf;
  color: #ff0000;
  background: #060809;
}


nav{background: #555555;
  margin: auto;
  width: 100%;

}




nav ul li a{
  font-size: 15px;
  text-transform: uppercase;
  padding: 17px 13px;
  border-radius: 3px;
  color: #faebdf;
}


/*
.checkbtn{
  font-size: 30px;
  color: #faebdf;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;

}

#check{
  display: none;

}

@media(max-width: 980px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;

  }
  nav ul li a{
    font-size: 25px;
  }
  .box-1 h1{
    font-size: 80px;
  }*/


/*@media(max-width: 868px){

  ul{
    position: fixed;
    width: 100%;
    height: 100vh;  
    background: #555555;
    top: 80px;
    left: 0;
    text-align: center;
  }
  nav ul li{
    display: block;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a{
    background: none;
    color: #0082e6;

  }

}



/*makes the website more reponsive to use % when dealing with contianers*/

/*.container{
  width: 80%;  
  margin:auto;
}*/

/*.section-1{
  width: 100%;
  margin: auto;
}

.section-2{
  width: 100%;
  margin: auto;
}



/*.clr{
  clear: both;
}*/


.contianer{
  background-color: #555555;
  color: #faebdf;
  max-width: 2184px;
  padding: none;

  margin: auto;
  
  
}

.contianer h1{
  font-family: monospace;
  font-size: 35px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  word-spacing: 1em;
}

.section-2 p{
  font-size: 20px;
}*/

/* STYLING FOR ABOUT LINK*/

/**{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  
}
*/
body{
  font-family: monospace;
  width: 100%;
  color: #555555;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  background: pink;
}


h1{
  text-align: center;
  margin: 16px;
}
p{

  margin: 16px;
}

h2{
  text-align: center;
}

p{
  margin-top: 16px;

}


.contianer{
  width: 95%;
  max-width: 980px;
  margin: 0 auto;
  border: 3px solid red;
}

.contianer-nav{
  display: flex;
  justify-content: space-between;

}
header{
  background: #555555;
  padding: 30px 0;
}

.link-title{
  color: #faebdf;
  text-transform: uppercase;
}



.columns{
  display: flex;
  justify-content: space-between;
  /*align-items: flex-start;
  margin: 35px 0;*/

  
}


.col-w1{
  width: 45%;

}

.col-w2{
width: 95%;


}

.col-w3{
  width: 45%;
}

.col-bg{
  background: #555555;
  padding: 16px;
  margin: 16px 0;
  color: #faebdf;
  
}

@media(max-width: 600px){
  .columns{
    flex-direction: column;
  }
  .col-w1,
  .col-w2,
  .col-w3{
    width: 100%;

  }
}

@media(max-width: 600px){
  .contianer-nav{
    flex-direction: column;
  }
  .link-title{
    width: 100%;
  }
}

/*label.logo{
  padding: 0 16px;
  font-weight: bold;
  font-size: 35px;
  color: #faebdf;
}*/

nav ul{
  

  list-style: none;
  padding: 17px 13px;
  display: flex;
  justify-content: flex-end;
  

}

nav li{
  
  margin: 0 16px;

}


nav a{
  text-decoration: none;
  color: #faebdf;
  font-weight: 20px;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 17px 13px;


}

nav a:hover{
  color: #ff0000;
  background-color: #000;

}





/* from min widtn of 400px and bigger order is important
@media(min-width: 400px){

  body{
    background: wheat;
  }

}

/* from a min width of 650px and bigger
@media(min-width: 500px){
  body{
    background: rgb(206, 200, 206) ;
  }
}
*/



/*
nav{background: #555555;
margin: auto;
width: 100%;

}

label.logo{
color: #faebdf;
font-size: 35px;
line-height: 80px;
padding: 0 10px;
font-weight: bold;

}

nav ul{
float: right;
margin: auto;
}

nav li{
display: inline-block;
line-height: 80px;
margin: 0 5px;
}

nav a{
font-size: 15px;
text-transform: uppercase;
padding: 17px 13px;
border-radius: 3px;
color: #faebdf;
}
@media(max-width: 300px){
  nav a{
    color: #555555;
  }

}


nav a:hover{
  color: aqua;
}

*/

