*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  
 /* overflow: hidden; */
}


body{
  font-family: monospace, Arial, Helvetica, sans-serif;
  width: 100%;
  background: pink;
}

a.active,a:hover{
  text-decoration: none;
  color: #faebdf;
  color: #ff0000;
  background: #060809;
}


nav{background: #555555;
  margin: auto;
  width: 100%;

}

label.logo{
  color: #faebdf;
  font-size: 35px;
  line-height: 80px;
  padding: 0 10px;
  font-weight: bold;

}

nav ul{
float: right;
margin: auto;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;

}

nav ul li a{
  font-size: 15px;
  text-transform: uppercase;
  padding: 17px 13px;
  border-radius: 3px;
  color: #faebdf;
}


/*
.checkbtn{
  font-size: 30px;
  color: #faebdf;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;

}

#check{
  display: none;

}*/

@media(max-width: 980px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;

  }
  nav ul li a{
    font-size: 16px;
  }
  .box-1 h1{
    font-size: 80px;
  }
}

@media(max-width: 868px){

  ul{
    position: fixed;
    width: 100%;
    height: 100vh;  
    background: #555555;
    top: 80px;
    left: 0;
    text-align: center;
  }
  nav ul li{
    display: block;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a{
    background: none;
    color: #0082e6;

  }

}



/*makes the website more reponsive to use % when dealing with contianers*/

/*.container{
  width: 80%;  
  margin:auto;
}*/

.section-1{
  width: 100%;
  margin: auto;
}

.section-2{
  width: 100%;
  margin: auto;
}



/*.clr{
  clear: both;
}*/


.contianer{
  background-color: #555555;
  color: #faebdf;
  max-width: 2184px;
  padding: none;

  margin: auto;
  
  
}

.contianer h1{
  font-family: monospace;
  font-size: 60px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  word-spacing: 1em;
}

.section-2 p{
  font-size: 20px;
}


